<%
let inputContent = [
  {ttl:'お名前', required:'required', type:'text', name: 'name', value: '', pl: '沖縄&emsp;太郎'},
  {ttl:'メールアドレス', required:'required', type:'email', name: 'email', value: '', pl:'aaa000@ggmail.com'},
  {ttl:'電話番号', required:'required', type:'tel', name: 'tel', value: '', pl: '000-0000-0000'},
];
%>

<section class="p-contact-form">
	<div class="p-contact-form__inner l-inner">
		<form class="p-contact-form__form" action="" method="post" id="form">
			<div class="p-contact-form__errorWrap">
				<p class="p-contact-form__errorMessage">※必須項目が入力されていません。入力してください。</p>
			</div>
			<div class="p-contact-form__items">
				<% inputContent.slice(0, 3).forEach(function(formInput) { %>
					<dl class="p-contact-form__item">
						<dt class="p-contact-form__itemTtl is-required">
							<%- formInput.ttl %><span>必須</span>
						</dt>
						<dd class="p-contact-form__input">
							<input 
							class="<%- formInput.required %>" 
							type="<%- formInput.type %>" 
							name="<%- formInput.name %>" 
							value="<%- formInput.value %>" 
							placeholder="<%- formInput.pl %>"/>
						</dd>
					</dl>
				<% }); %>
				<dl class="p-contact-form__item">
					<dt class="p-contact-form__itemTtl is-required">
						お問合せ項目<span>必須</span>
					</dt>
					<dd class="p-contact-form__input">
					  <div class="p-contact-form__radio">
						<input class="required" type="radio" value="dive" name="campaign" id="radio-dive" checked>
						<label for="radio-dive" class="p-contact-form__radioLabel">ダイビング講習について</label>
					  </div>
					  <div class="p-contact-form__radio">
						<input type="radio" value="fan" name="campaign" id="radio-fan">
						<label for="radio-fan" class="p-contact-form__radioLabel">ファンダイビングについて</label>
					  </div>
					  <div class="p-contact-form__radio">
						<input type="radio" value="ex" name="campaign" id="radio-ex">
						<label for="radio-ex" class="p-contact-form__radioLabel">体験ダイビングについて</label>
					  </div>
					</dd>
				  </dl>
				<dl class="p-contact-form__item">
					<dt class="p-contact-form__itemTtl">
						キャンペーン
					</dt>
					<dd class="p-contact-form__input">
						<select name="form-select" class="form-select">
							<option value="" selected>キャンペーン内容を選択</option>
							<option value="セレクト1">ダイビング講習</option>
							<option value="セレクト2">ファンダイビング</option>
							<option value="セレクト2">体験ダイビング</option>
						</select>
					</dd>
				</dl>
				<dl class="p-contact-form__item">
					<dt class="p-contact-form__itemTtl is-required">
						お問合せ内容<span>必須</span>
					</dt>
					<dd class="p-contact-form__input">
						<textarea class="is-required" name="contents"></textarea>
					</dd>
				</dl>
			</div>
			<div>
				<dd class="p-contact-form__privacy">
					<label>
						<input class="p-contact-form__check  required" type="checkbox" name="your-checkbox">
						<span>個人情報の取り扱いについて同意のうえ送信します。</span>
					</label>
				</dd>
			</div>
			<div class="p-contact-form__btn">
				<%- include(ejsPath + './component/_c-btn',{type:"contact", link:"",text:"Send", btn:"send" ,overlay:""} ) %>
			</div>
		</form>
		<div class="p-contact-form__fish">
			<%- include(ejsPath + './component/_c-img-fish' ,{ style: 'reverse' }) %>
		</div>
	</div>
</div>