<div class="p-campaign-card">
    <a class="p-campaign-card__link" href="#">
    <div class="p-campaign-card__img">
        <img src="../../assets/images/common/campaignCard_<%- image %>.jpg" alt="">
    </div>
    <div class="p-campaign-card__head">
        <p class="p-campaign-card__tag"><%- tag %></p>
        <p class="p-campaign-card__title"><%- title %></p>
        <span class="p-campaign-card__border"></span>
    </div>
    <div class="p-campaign-card__body">
        <p class="p-campaign-card__text"><%- text %></p>
        <div class="p-campaign-card__price">
            <p class="p-campaign-card__originalPrice"><%- originalPrice %></p>
            <p class="p-campaign-card__newPrice"><%- newPrice %></p>
        </div>
    </div>
</a>
</div>