<%
let addressText = [
  {text:'沖縄県那覇市1-1'},
  {text:'TEL:0120-000-0000'},
  {text:'営業時間:8:30-19:00'},
  {text:'定休日:毎週火曜日'},
]
%>

<section class="p-contact-section">
    <div class="p-contact-section__inner l-inner">
        <div class="p-contact-section__container">
            <div class="p-contact-section__head">
                <div class="p-contact-section__logo">
                    <%- include(ejsPath + './component/_c-logo' , { type: '', logo: 'green' })%>
                </div>
                <div class="p-contact-section__access">
                    <div class="p-contact-section__address">
                        <% addressText.forEach(function(add) { %>
                            <p class="p-contact-section__addressText"><%- add.text %></p>
                        <% }); %>
                    </div>
                    <div class="p-contact-section__map">
                        <div class="iframe-wrap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9115.569389246235!2d127.67438112885138!3d26.214049447648904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34e569900ff36f09%3A0x583dec31994d039e!2z5rOi44Gu5LiK44OT44O844OB!5e0!3m2!1sja!2sjp!4v1687379223556!5m2!1sja!2sjp" width="295" height="160" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-contact-section__body">
                <div class="p-contact-section__title">
                <%- include(ejsPath + './component/_c-title',{title__en:'contact', title__ja:'お問い合わせ', style:'large'})%> 
                </div>
                <p class="p-contact-section__contactText">ご予約・お問い合わせはコチラ</p>
                <div class="p-contact-section__btn">
                    <%- include(ejsPath + './component/_c-btn',{type:"", link:"page-contact",text:"Contact us", btn:"", overlay:""} ) %>
                </div>
            </div>
        </div>
        <div class="p-contact-section__fish">
            <%- include(ejsPath + './component/_c-img-fish' ,{ style: '' }) %>
        </div>
    </div>
</section>