<%
let firstContents = [
    {main: 'キャンペーン', first: 'ライセンス取得', second: '貸切体験ダイビング', third: 'ナイトダイビング', link:'archive-campaign'},
    {main: '私たちについて', first: '', second: '', third: '', link:'page-about'},
]

let secondContents = [
    {main: 'ダイビング情報', first: 'ライセンス講習', second: '体験ダイビング', third: 'ファンダイビング', link:'page-diving-info'},
    {main: 'ブログ', first: '', second: '', third: '', link:'home'},
]

let thirdContents = [
    {main: 'お客様の声', first: '', second: '', third: '', link:'archive-voices'},
    {main: '料金一覧', first: 'ライセンス講習', second: '体験ダイビング', third: 'ファンダイビング', link:'page-price'},
]

let fourthContents = [
    {main: 'よくある質問', first: '', second: '', third: '', link:'page-faq'},
    {main: 'プライバシー<br class="u-mobile">ポリシー',  first: '', second: '', third: '', link:'page-privacy-policy'},
    {main: '利用規約',  first: '', second: '', third: '', link:'page-terms'},
    {main: 'お問い合わせ', first: '', second: '', third: '', link:'page-contact'},
]
%>

<% const contents = [firstContents, secondContents, thirdContents, fourthContents]; %>

<% const validSection = ['footer','sitemap']; %>
<% const sectionClass = validSection.includes(section) ? ` p-contents--${section}` : ''; %>
<% const validColor = ['white','black']; %>
<% const colorClass = validColor.includes(color) ? ` p-contents__title--${color}` : ''; %>
<% const validProject = ['sitemap']; %> 
<% const projectClass = validProject.includes(project) ? ` p-contents__container--${project}` : ''; %>



<div class="p-contents<%- sectionClass %>">
    <nav class="p-contents__container<%- projectClass %>">
      <% contents.forEach(function(contentGroup) { %>
        <ul class="p-contents__items">
          <% contentGroup.forEach(function(title) { %>
            <% if (title.main) { %>
              <li class="p-contents__item">
                <a href="<%- title.link %>.html" class="p-contents__title<%- colorClass %>">
                  <%- title.main %>
                </a>
                <% if (title.first || title.second || title.third) { %>
                  <div class="p-contents__lists">
                    <% if (title.first) { %>
                      <a href="" class="p-contents__list"><%- title.first %></a>
                    <% } %>
                    <% if (title.second) { %>
                      <a href="" class="p-contents__list"><%- title.second %></a>
                    <% } %>
                    <% if (title.third) { %>
                      <a href="" class="p-contents__list"><%- title.third %></a>
                    <% } %>
                  </div>
                <% } %>
              </li>
            <% } %>
          <% }); %>
        </ul>
      <% }); %>
    </nav>
    
  </div>