<% const validStyle = ['is-active']; %>
<% const activeClass =  validStyle.includes(state) ? ` ${state}` : ''; %>

<div class="p-information-card <%= activeClass %> js-information-card">
  <div class="p-information-card__box">
    <div class="p-information-card__body">
      <div class="p-information-card__ttlBox">
        <h3 class="p-information-card__subTitle"><%= title %></h3>
      </div>
      <p class="p-information-card__text">
        <%= text %>
      </p>
    </div>
    <div class="p-information-card__img">
      <img src="./assets/images/common/<%= i %>.jpg" alt="<%= alt %>">
    </div>
  </div>
</div>




