<div class="p-lower-campaign-card">
    <div class="p-lower-campaign-card__img">
        <img src="../../assets/images/common/campaignCard_<%- image %>.jpg" alt="">
    </div>
    <div class="p-lower-campaign-card__head">
        <p class="p-lower-campaign-card__tag"><%- tag %></p>
        <p class="p-lower-campaign-card__title"><%- title %></p>
        <span class="p-lower-campaign-card__border"></span>
    </div>
    <div class="p-lower-campaign-card__body">
        <p class="p-lower-campaign-card__text"><%- text %></p>
        <div class="p-lower-campaign-card__price">
            <p class="p-lower-campaign-card__originalPrice"><%- originalPrice %></p>
            <p class="p-lower-campaign-card__newPrice"><%- newPrice %></p>
        </div>
        <p class="p-campaign-card__details u-desktop"><%- details %></p>
    </div>
    <div class="p-lower-campaign-card__bottom u-desktop">
        <p class="p-campaign-card__contactDate"><%- contactDate %></p>
        <p class="p-campaign-card__contactText">ご予約・お問い合わせはコチラ</p>
        <div class="p-campaign-card__btn">
            <%- include(ejsPath + './component/_c-btn',{type:"", link:"",text:"Contact us", btn:"", overlay:""} ) %>
        </div>
    </div>
</div>