<div class="p-lower-voiceCard">
    <a class="p-lower-voiceCard__link" href="#">
    <div class="p-lower-voiceCard__inner">
        <div class="p-lower-voiceCard__head">
            <div class="p-lower-voiceCard__info">
                <div class="p-lower-voiceCard__meta">
                    <p class="p-lower-voiceCard__age"><%= age %></p>
                    <p class="p-lower-voiceCard__tag"><%- tag %></p>
                </div>
                <div class="p-lower-voiceCard__title"><%- title %></div>
            </div>
            <div class="p-lower-voiceCard__img">
                <img src="../../assets/images/common/voice_<%= image %>.jpg" alt="#">
            </div>
        </div>
        <div class="p-lower-voiceCard__body">
            <p class="p-lower-voiceCard__text">
                <%- text %>
            </p>
        </div>
    </div>
</a>
</div>
