<div class="p-sidebar-campaignCard">
  <a class="p-sidebar-campaignCard__link" href="archive-campaign.html">
  <div class="p-sidebar-campaignCard__img">
    <img
      src="./assets/images/common/campaign-card_<%- image %>.jpg"
      alt="<%- alt %>">
  </div>
  <div class="p-sidebar-campaignCard__head">
    <p class="p-sidebar-campaignCard__title"><%- title %></p>
    <span class="p-sidebar-campaignCard__border"></span>
  </div>
  <div class="p-sidebar-campaignCard__body">
    <p class="p-sidebar-campaignCard__text"><%- text %></p>
    <div class="p-sidebar-campaignCard__price">
      <p class="p-sidebar-campaignCard__originalPrice"><%- originalPrice %></p>
      <p class="p-sidebar-campaignCard__newPrice"><%- newPrice %></p>
    </div>
  </div>
</a>
</div>


