<section class="p-voice-section">
    <div class="p-voice-section__inner l-inner">
        <div class="p-voice-section__title">
            <%- include(ejsPath + './component/_c-title',{title__en:'voice', title__ja:'お客様の声',style:''})%>
        </div>
        <div class="p-voice-section__cards">
            <div class="p-voice-section__card">
                <%- include(ejsPath + './project/_p-lower-voiceCard' ,{image:"1" , alt:'麦わら帽子をかぶり微笑む20代女性', age:'20代(女性)', tag: 'ライセンス講習', title: 'ここにタイトルが入ります。ここにタイトル' ,
                text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。' })%>
            </div>
            <div class="p-voice-section__card">
                <%- include(ejsPath + './project/_p-lower-voiceCard' ,{image:"2" , alt:'笑顔でポーズをとる紺色の服を着た30代男性', age:'30代(男性)', tag: 'ファンダイビング', title: 'ここにタイトルが入ります。ここにタイトル' ,
                text: 'ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>ここにテキストが入ります。ここにテキストが入ります。' })%>
            </div>
        </div>
        <div class="p-voice-section__btn">
            <%- include(ejsPath + './component/_c-btn',{type:"", link:"archive-voices",text:"View more", btn:"", overlay:""} ) %>
        </div>
        <div class="p-voice-section__fish u-desktop">
            <%- include(ejsPath + './component/_c-img-fish' ,{ style: 'reverse' }) %>
        </div>
        <div class="p-voice-section__seahorse u-desktop">
            <div class="c-img-seahorse"></div>
        </div>
    </div>
</section>