<% baseUrlPath='.' ; ejsPath='.' ; pageData="top" %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(ejsPath + '/common/_head' ,{ baseUrl: baseUrlPath, page:
    json[pageData] }) %>
  <style>
    .wrapper {
      max-width: 1000px;
      width: 100%;
      margin: auto;
      background-color: pink;
    }

    /* div {
      margin: 40px 0;
    } */
    .h2 {
      margin-top: 75px;
      background-color: yellow;
      color: black;
    }
    .p {
      margin-top: 10px;
      margin-bottom: 20px;
      color: white;
    }
  </style>
  <body>
    <div class="wrapper">
      <h2 class="h2">header</h2>
      <p class="p">ヘッダー</p>
      <%- include(ejsPath + '/common/_header' ) %>



      <h2 class="h2">.c-title</h2>
      <p class="p">セクションタイトル</p>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__en:'campaign', title__ja:'キャンペーン', style:''})%> 
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__en:'about us', title__ja:'私たちについて', style:''})%> 
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__en:'information', title__ja:'ダイビング情報', style:''})%> 
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__en:'blog', title__ja:'ブログ', style:'white'})%> 
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__en:'voice', title__ja:'お客様の声',style:''} )%> 
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__en:'price', title__ja:'料金一覧',style:''})%> 
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__en:'contact', title__ja:'お問い合わせ', style:'large'})%> 
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__en:'gallery', title__ja:'フォト', style:''})%> 
      <!-- prettier-ignore -->
      <h2 class="h2">.c-btn</h2>
      <p class="p">ボタン</p>
      <h2 class="h2">.c-btn</h2>
      <p class="p">ボタン</p>
      <%- include(ejsPath + '/component/_c-btn',{type:"", link:"",text:"view&nbsp;more", btn:"", overlay:""} ) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-btn',{type:"", link:"",text:"contact&nbsp;us", btn:"", overlay:""} ) %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-btn',{type:"contact", link:"",text:"send", btn:"send" ,overlay:""} ) %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-btn',{type:"", link:"",text:"page&nbsp;TOP", btn:"white" ,overlay:"white"} ) %>
      <!-- prettier-ignore -->
      <h2 class="h2">.c-page-top-btn</h2>
      <p class="p">ページトップボタン</p>
      <%- include(ejsPath + '/component/_c-page-top-btn' ) %>
      <!-- prettier-ignore -->
      <h2 class="h2">.img-fish</h2>
      <p class="p">金魚のイラスト</p>
      <%- include(ejsPath + '/component/_c-img-fish' ,{ style: 'reverse' }) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-img-fish' ,{ style: '' }) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-img-fish' ,{ style: 'white' }) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-img-fish' ,{ style: 'large' }) %>
      <h2 class="h2">.c-breadcrumb</h2>
      <p class="p">パンくずリスト</p>
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "キャンペーン", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "私たちについて", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "ダイビング情報", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "ブログ一覧", url: "" }
        ]
      }); %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "ブログ詳細", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "お客様の声", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "料金一覧", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "よくある質問", url: "" }
        ]
      }); %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "サイトマップ", url: "" }
        ]
      }); %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "プライバシーポリシー", url: "" }
        ]
      }); %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "利用規約", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "お問い合わせ", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "404", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
        { title: "ブログ一覧", url: "" },
        { title: "ブログ詳細", url: "" }
        ]
      }); %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
        { title: "お問い合わせ", url: "" },
        { title: "お問い合わせエラー", url: "" }
        ]
      }); %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
        { title: "お問い合わせ", url: "" },
        { title: "送信完了", url: "" }
        ]
      }); %>
      
       <!-- prettier-ignore -->
      <h2 class="h2">.c-pagination</h2>
      <p class="p">ページネーション</p>
      <%- include(ejsPath + '/component/_c-pagination' ,{totalPages: 4 }) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-pagination' ,{totalPages: 6 }) %>

      <!-- prettier-ignore -->
      <h2 class="h2">.c-campaign-category</h2>
      <p class="p">キャンペーンカテゴリー</p> 
      <%- include(ejsPath + '/component/_c-campaign-category',{text:"all"})%>
      <br>
      <%- include(ejsPath + '/component/_c-campaign-category',{text:"ライセンス講習"})%> 
      <br>
      <%- include(ejsPath + '/component/_c-campaign-category',{text:"ファンダイビング"})%>
      <br>
      <%- include(ejsPath + '/component/_c-campaign-category',{text:"体験ダイビング"})%>

      <!-- prettier-ignore -->
      <h2 class="h2">.c-logo</h2>
      <p class="p">CodeUpsロゴ</p>
      <%- include(ejsPath + '/component/_c-logo', { type: '', logo: 'large' }) %>
<!-- prettier-ignore -->
<%- include(ejsPath + '/component/_c-logo', { type: '', logo: 'green' }) %>
<!-- prettier-ignore -->
<%- include(ejsPath + '/component/_c-logo', { type: 'top', logo: '' }) %>
<!-- prettier-ignore -->
<%- include(ejsPath + '/component/_c-logo', { type: '', logo: '' }) %>
<!-- prettier-ignore -->



      <h2 class="h2">.c-sidebar-title</h2>
      <p class="p">サイドバータイトル</p>
      <%- include(ejsPath + '/component/_c-sidebar-title',{text:"人気記事"})%>
      <br>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-sidebar-title',{text:"口コミ"})%>
      <br>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-sidebar-title',{text:"キャンペーン"})%>
      <br>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-sidebar-title',{text:"アーカイブ"})%>

      <h2 class="h2">.c-information-tab</h2>
      <p class="p">インフォメーションタブ</p>
      <%- include(ejsPath + '/component/_c-information-tab' ,{text:'ライセンス講習', image: 'whale' , style: 'is-active'}) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-information-tab' ,{text:'ファンダイビング', image: 'shark' , style: ''}) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-information-tab' ,{text:'体験ダイビング', image: 'fish', style: '' }) %>

      <h2 class="h2">.footer</h2>
      <p class="p">フッター</p>
      <%- include(ejsPath + '/common/_footer' ) %>

    </div>
  </body>
</html>