<% baseUrlPath='.' ; ejsPath='.' ; pageData="top" %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(ejsPath + '/common/_head' ,{ baseUrl: baseUrlPath, page:
    json[pageData] }) %>
  <style>
    .wrapper {
      max-width: 1000px;
      width: 100%;
      margin: auto;
    }
    div {
      margin: 40px 0;
    }
    .h2 {
      margin-top: 75px;
      background-color: yellow;
      color: black;
    }
    .p {
      margin-top: 10px;
      margin-bottom: 20px;
      color: white;
    }
  </style>
  <body>
    <div class="wrapper">
      <h2 class="h2">header</h2>
      <p class="p">ヘッダー</p>
      <%- include(ejsPath + '/common/_header' ) %>

      <h2 class="h2">.c-title</h2>
      <p class="p">セクションタイトル</p>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__main:'Campaign', title__sub:'キャンペーン', color:'', size:''})%> 
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__main:'About us', title__sub:'私たちについて', color:'', size:''})%> 
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__main:'Information', title__sub:'ダイビング情報', color:'', size:''})%> 
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__main:'Blog', title__sub:'ブログ', color:'white', size:''})%> 
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__main:'Voice', title__sub:'お客様の声', color:'', size:''} )%> 
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__main:'Price', title__sub:'料金一覧',color:'', size:''})%> 
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__main:'Contact', title__sub:'お問い合わせ', color:'', size:'large'})%> 
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-title',{title__main:'Gallery', title__sub:'フォト', color:'', size:''})%> 
      <!-- よりきれいな無視 -->
      <h2 class="h2">.c-btn</h2>
      <p class="p">ボタン</p>
      <%- include(ejsPath + '/component/_c-btn',{link:"",text:"View more"} ) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-btn',{link:"",text:"contact us"} ) %>
      <!-- prettier-ignore -->
      <h2 class="h2">.c-page-top-btn</h2>
      <p class="p">ページトップボタン</p>
      <%- include(ejsPath + '/component/_c-page-top-btn' ) %>
      <!-- prettier-ignore -->
      <h2 class="h2">.img-fish</h2>
      <p class="p">金魚のイラスト</p>
      <%- include(ejsPath + '/component/_c-img-fish' ,{ style: 'reverse' }) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-img-fish' ,{ style: '' }) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-img-fish' ,{ style: 'white' }) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-img-fish' ,{ style: 'large' }) %>
      <h2 class="h2">.c-breadcrumb</h2>
      <p class="p">パンくずリスト</p>
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "キャンペーン", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "私たちについて", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "ダイビング情報", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "ブログ一覧", url: "" }
        ]
      }); %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "ブログ詳細", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "お客様の声", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "料金一覧", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "よくある質問", url: "" }
        ]
      }); %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "サイトマップ", url: "" }
        ]
      }); %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "プライバシーポリシー", url: "" }
        ]
      }); %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "利用規約", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "お問い合わせ", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
       <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
          { title: "404", url: "" }
        ]
      }); %>
       <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
        { title: "ブログ一覧", url: "" },
        { title: "ブログ詳細", url: "" }
        ]
      }); %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
        { title: "お問い合わせ", url: "" },
        { title: "お問い合わせエラー", url: "" }
        ]
      }); %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-breadcrumb', {
        breadcrumbs: [
        { title: "お問い合わせ", url: "" },
        { title: "送信完了", url: "" }
        ]
      }); %>
      
       <!-- prettier-ignore -->
      <h2 class="h2">.c-pagination</h2>
      <p class="p">ページネーション</p>
      <!-- <%- include(ejsPath + '/component/_c-pagination' ) %> -->

      <!-- prettier-ignore -->
      <h2 class="h2">.c-campaign-category</h2>
      <p class="p">キャンペーンカテゴリー</p> 
      <%- include(ejsPath + '/component/_c-campaign-category',{text:"all"})%>
      <%- include(ejsPath + '/component/_c-campaign-category',{text:"ライセンス講習"})%> 
      <%- include(ejsPath + '/component/_c-campaign-category',{text:"ファンダイビング"})%>
      <%- include(ejsPath + '/component/_c-campaign-category',{text:"体験ダイビング"})%>


      <!-- prettier-ignore -->
      <h2 class="h2">.footer</h2>
      <p class="p">フッター</p>
      <%- include(ejsPath + '/common/_footer' ) %>

    </div>
  </body>
</html>