<% baseUrlPath='.' ; ejsPath='.' ; pageData="top" %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(ejsPath + '/common/_head' ,{ baseUrl: baseUrlPath, page:
    json[pageData] }) %>
  <style>
    .wrapper {
      max-width: 1000px;
      width: 100%;
      margin: auto;
    }
    div {
      margin: 40px 0;
    }
    .h2 {
      margin-top: 75px;
      background-color: yellow;
      color: black;
    }
    .p {
      margin-top: 10px;
      margin-bottom: 20px;
      color: white;
    }
  </style>
  <body>
    <div class="wrapper">
      <h2 class="h2">header</h2>
      <p class="p">ヘッダー</p>
      <%- include(ejsPath + '/common/_header' ) %>

      <h2 class="h2">.c-title</h2>
      <p class="p">セクションタイトル</p>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/tutorial/component/_c-title' ,{color:'blue', title:'ここ変えてみる'}) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/tutorial/component/_c-title' ,{color:'pink', title:'カードブロック'}) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/tutorial/component/_c-title' ,{color:'black', title:'カードブロック'}) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/tutorial/component/_c-title' ,{color:'white', title:'カードブロック'}) %>
      <!-- prettier-ignore -->
      <h2 class="h2">.c-btn</h2>
      <p class="p">ボタン</p>
      <%- include(ejsPath + '/component/_c-btn',{link:"",text:"View more"} ) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-btn',{link:"",text:"contact us"} ) %>
      <!-- prettier-ignore -->
      <h2 class="h2">.c-page-top-btn</h2>
      <p class="p">ページトップボタン</p>
      <%- include(ejsPath + '/component/_c-page-top-btn' ) %>
      <!-- prettier-ignore -->
      <h2 class="h2">.img-fish</h2>
      <p class="p">金魚のイラスト</p>
      <%- include(ejsPath + '/component/_c-img-fish' ,{ style: 'reverse' }) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-img-fish' ,{ style: '' }) %>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-img-fish' ,{ style: 'white' }) %>
      <!-- prettier-ignore -->
      <h2 class="h2">.c-pagination</h2>
      <p class="p">ページネーション</p>
      <%- include(ejsPath + '/component/_c-pagination' ) %>
      <!-- prettier-ignore -->
       <h2 class="h2">.footer</h2>
      <p class="p">フッター</p>
      <%- include(ejsPath + '/common/_footer' ) %>

    </div>
  </body>
</html>
