<% baseUrlPath='.' ; ejsPath='.' ; pageData="top" %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(ejsPath + '/common/_head' ,{ baseUrl: baseUrlPath, page:
  json[pageData] }) %>

  <body>

    <%- include(ejsPath + '/project/_p-top-screen' )%>
     <%- include(ejsPath + '/common/_header' ) %>
    <main>
      <div class="l-section">
        <%- include(ejsPath + '/project/_p-campaign-section' )%>
      </div>
      <div class="l-section">
        <%- include(ejsPath + '/project/_p-aboutus-section') %>
      </div>
      <div class="l-section">
        <%- include(ejsPath + '/project/_p-information-section' ) %>
      </div>
      <div>
        <%- include(ejsPath + '/project/_p-blog-section' ) %>
      </div>
      <div class="l-section l-p-voice-section">
        <%- include(ejsPath + '/project/_p-voice-section' )%>
      </div>
      <div class="l-section l-p-price-section">
        <%- include(ejsPath + '/project/_p-price-section' )%>
      </div>
      <div class="l-section l-p-contact-section">
        <%- include(ejsPath + '/project/_p-contact-section' )%>
      </div>
    </main>
    <div class="l-footer">
      <%- include(ejsPath + '/common/_footer' ) %>
    </div>
    <%- include(ejsPath + '/component/_c-page-top-btn' ) %>
  </body>
</html>
