<% baseUrlPath='.' ; ejsPath='.' ; pageData="top" %>
<!DOCTYPE html>
<html lang="ja">
    <%- include(ejsPath + '/common/_head' ,{ baseUrl: baseUrlPath, page:
        json[pageData] }) %>
  <style>

body{
      /* background: pink;  */
    }
    .wrapper {
      max-width: 1080px;
      width: 100%;
      margin: auto;
      /* background: pink; */


    }

    .h2 {
      margin-top: 75px;
      background-color: yellow;
      color: black;
    }

    .p {
      margin-top: 10px;
      margin-bottom: 60px;
      color: white;
    }

    </style>
  <body>
    <div class="wrapper">
      <!-- prettier-ignore -->
      <h2 class="h2">.p-header</h2>
      <p class="p">ヘッダーとドロワー</p>
      <%- include(ejsPath + '/project/_p-header' )%>

    <h2 class="h2">.p-lower-informationContents</h2>
    <p class="p">ダイビング情報ページのコンテンツ群</p>
    <%- include(ejsPath + '/project/_p-lower-informationContents' ) %>  

      <h2 class="h2">.c-starfish</h2>
      <p class="p">ヒトデ</p> 
      <%- include(ejsPath + '/component/_c-img-starfish' ,{ color: 'black' }) %>
      <%- include(ejsPath + '/component/_c-img-starfish' ,{ color: 'white' }) %>
      <%- include(ejsPath + '/component/_c-img-starfish' ,{ color: 'green' }) %>

      <h2 class="h2">.p-blog-cards</h2>
      <p class="p">ブログカード（トップページ）</p> 
      <%- include(ejsPath + '/project/_p-blog-cards' ) %>
      
      <h2 class="h2">.p-lower-blogCards</h2>
      <p class="p">ブログカード（下層ページ）</p> 
      <%- include(ejsPath + '/project/_p-lower-blogCards') %>
      
      
      
      
      <h2 class="h2">.p-contact-form</h2>
      <p class="p">コンタクトフォーム</p>
      <%- include(ejsPath + '/project/_p-contact-form') %> 

    </div>
    <h2 class="h2">.p-lower-top</h2>
    <p class="p">下層ページトップ</p>
    <%- include(ejsPath + '/project/_p-lower-mv' ,{lower:'campaign', title: 'campaign',}) %> 
    <%- include(ejsPath + '/project/_p-lower-mv' ,{lower:'aboutus', title: 'about us',}) %> 
    <%- include(ejsPath + '/project/_p-lower-mv' ,{lower:'information', title: 'information',}) %> 
    <%- include(ejsPath + '/project/_p-lower-mv' ,{lower:'blog', title: 'blog',}) %>
    <%- include(ejsPath + '/project/_p-lower-mv' ,{lower:'voice', title: 'voice',}) %> 
    <%- include(ejsPath + '/project/_p-lower-mv' ,{lower:'price', title: 'price',}) %> 
    <%- include(ejsPath + '/project/_p-lower-mv' ,{lower:'faq', title: 'faq',}) %> 
    <%- include(ejsPath + '/project/_p-lower-mv' ,{lower:'contact', title: 'contact',}) %> 
    <%- include(ejsPath + '/project/_p-lower-mv' ,{lower:'privacy', title: 'privacy policy',}) %> 
    <%- include(ejsPath + '/project/_p-lower-mv' ,{lower:'sitemap', title: 'site<span> map</span>',}) %> 
    <%- include(ejsPath + '/project/_p-lower-mv' ,{lower:'terms', title: 'terms<span> of</span> service',}) %> 

  

    <h2 class="h2">.p-blog-section</h2>
    <p class="p">ブログセクション</p>
    <%- include(ejsPath + '/project/_p-blog-section' ) %> 
    
    <h2 class="h2">.p-lower-singleBlog</h2>
    <p class="p">ブログ詳細ページのブログ</p>
    <%- include(ejsPath + '/project/_p-lower-singleBlog' ) %>  
    
    <h2 class="h2">.p-information-section</h2>
    <p class="p">トップページのダイビング情報セクション</p>
    <%- include(ejsPath + '/project/_p-information-section' ) %>   
    
    <h2 class="h2">.p-information-card</h2>
    <p class="p">ダイビング情報カード</p> 



    <h2 class="h2">.p-contents</h2>
    <p class="p">コンテンツ（フッター・サイトマップ）</p>
    <%- include(ejsPath + '/project/_p-contents', { section: 'footer', color: 'white', project:'' }) %>
    <%- include(ejsPath + '/project/_p-contents', { section: 'sitemap', color: 'black', project:'sitemap' }) %>

    <h2 class="h2">.p-sitemap.ejs</h2>
    <p class="p">サイトマップ</p>
    <%- include(ejsPath + '/project/_p-sitemap' ) %>


    <h2 class="h2">.p-footer.ejs</h2>
    <p> class="p">フッター</p>
    <%- include(ejsPath + '/common/_footer' ) %>
  </body>
</html>


