<% baseUrlPath='.' ; ejsPath='.' ; pageData="thanks" %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(ejsPath + '/common/_head' ,{ baseUrl: baseUrlPath, page:
  json[pageData] }) %>

<body>
  <%- include(ejsPath + '/common/_header' ) %>
  <main>
    <%- include(ejsPath + '/project/_p-lower-mv' ,{lower:'contact', first: 'contact', middle:'', last:'', }) %>
    <div class="l-lower__breadcrumb l-inner">
        <%- include(ejsPath + '/component/_c-breadcrumb', {
            breadcrumbs: [
            { title: "お問い合わせ", url: "", style: "" },{ title: "送信完了", url: "", color: "" }
            ]}); %>
   </div>
    <div class="l-lower__head">
        <%- include(ejsPath + '/project/_p-thanksPage-section' )%>
    </div>
    
  </main>
  <div class="l-footer">
    <%- include(ejsPath + '/common/_footer' ) %>
  </div>
  <%- include(ejsPath + '/component/_c-page-top-btn' ) %>
</body>  
    
</html>
