<% const validBtn = ['white', 'send']; %>
<% const btnClass = validBtn.includes(btn) ? ` c-btn__link--${btn}` : ''; %>
<% const overlayClass = validBtn.includes(overlay) ? ` c-btn__overlay--${overlay}` : ''; %>

<% if (type === 'contact') { %>
    <div class="c-btn">
        <button type='submit' class="c-btn__link<%- btnClass %>">
            <%- text %><span></span>
        </button>
        <div class="c-btn__overlay<%- overlayClass %>"></div>
        </div>
    <% } else { %>
    <div class="c-btn">
        <a href="<%= link %>.html" class="c-btn__link<%- btnClass %>">
            <%- text %><span></span>
        </a>
     <div class="c-btn__overlay<%- overlayClass %>"></div>
    </div>
<% } %>